<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
    
    <tab id="kitchen" translate="label" sortOrder="11">
            <label>Kitchen365</label>
    </tab>
    <section id="Kitchen_Email" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
             <label>email field</label>
            <tab>kitchen</tab>
            <resource>Kitchen_Testten::ten</resource>
            
            <group id="email_group" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Options</label>  
                 <field id="from_email" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Send Emails From</label>
                    <validate>validate-email</validate>
                </field>
                  <field id="kitchen_email_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/contact/enabled">1</field>
                    </depends>
                </field>
        </group>
     </section>
</system>
</config>
